
// .seeker-container {
// 	display: flex;
// 	margin: 0;
//     padding: 0;
//     // box-sizing: border-box;
// 	max-width: 100%;
// }

.seeker-list {
	// background-color: lightblue;
	display: flex;
    flex-wrap: wrap;
	min-width: 50%;
    padding: 5rem;
	margin: 0 5% 0 15%;
	justify-content: flex-start;
}

.seeker-card {
	display: flex;
    width: 35.2rem;
    height: 35.2rem;
    padding: 2.4rem;
    border: 1px solid #dadce0;
    border-radius: 0.8rem;
	margin-bottom: 1.2rem;
	margin-right: 1.2rem;
    flex-direction: column;
    justify-content: space-between;
	text-align: left;
	// background-color: seashell;
	.seeker-header-container{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		// background-color: salmon;

		.seeker-card-header{
			// background-color: peru;
			text-align: left;
			margin-right: 1.6rem;
			width: 72%;

		}
		.coach-photo {
			width: 6.1rem;
			height: 6.1rem;
			border-radius: 50%;
			overflow: hidden;
		}
	}
	
}
