@import '../../../../global/styles/variables';

#rq-confirm-title {
  text-align: left;
  margin-left: 2rem;
}

.rq-request-coach-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.rq-requested-coach {
  width: 62rem;
  height: 35.2rem;
  padding: 2.4rem;
  // box-shadow: 2px 2px 5px gray;
  border: 1px solid #dadce0;
  border-radius: 0.8rem;
  // margin: 4px;
  margin-bottom: 1.2rem;
  justify-content: space-between;
  text-align: left;
  .rq-requested-coachcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .rq-requested-coachcard-header-txt {
      text-align: left;
      margin-top: 1.6rem;
      margin-bottom: 4rem;

      h3 {
        font-size: 2.5rem;
        font-weight: 600;
        font-style: normal;
        line-height: 2.8rem;
        color: #262626;
        max-width: 12rem;
        white-space: nowrap;
      }
    }
  }
  .coachcard-info {
    // margin-top: 1.2rem;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 1.2rem;
      //	line-height: 2.4rem;
      color: #3c4043;
      max-width: 26.3rem;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      align-items: center;
      .coachcard-icon {
        display: inline-block;
        width: 1.8em;
        // margin-top: 0.2rem;
      }
      .text {
        margin: 0 auto;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .coachcard-posloc {
      display: inline-block;
      max-width: 20rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .coachcard-description {
    // margin-top: 0.4rem;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #3c4043;
    }
  }
}

.rq-confirm-coach-bio {
  margin-top: 4rem;
  h2 {
    font-weight: 500;
    font-size: 2rem;
  }
}

.blank-image {
  background-color: $gray-avatar;
  align-items: center;
}

.coachcard-rating {
  display: flex;
  align-self: flex-start;
  align-items: center;
  // margin-bottom: 2.4rem;
  // margin-top: 0.5rem;
  cursor: pointer;
  .text {
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.confirmation-container {
  margin: 1.2rem;
}

.rq-cancel-request-button {
  border-radius: 0.5rem;
  border: 0.1rem solid #fb2046;
  font-size: 1.2rem;
  font-style: normal;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 2.2rem;
  background-color: white;
  text-align: center;
  color: #fb2046;
  align-items: center;
  width: 8.1rem;
  height: 2.9rem;
  padding: 0;
}

.rq-confirm-request-button {
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-style: normal;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 2.2rem;
  background-color: #fb2046;
  text-align: center;
  color: white;
  align-items: center;
  width: 12rem;
  height: 2.9rem;
  padding: 0;
}

.rq-confirm-success {
  font-size: 2.5rem;
}

.rq-confirm-failure {
  color: #fb2046;
  font-size: 2 rem;
}

/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #fb2046;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: '';
      height: 100px;
      position: absolute;
      background: #ffffff;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #bfbfbf;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid #fb204493;
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: #ffffff;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
