.interviewq-two-video-screens{
    // border: 1px solid red;
    display: flex;
    width: 95%;
}

.interviewq-meeting-chatbox{
    border: 1px solid green;
    overflow-y: scroll;
    height: 100px;
    width: 1000px;
}

.interviewq-video-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    height: 2%;
    background: white;
}