// .meetingContainer {
//     position: relative;
// }

// .videoContainer {

// }





// #chatArea {
//     overflow-y: scroll;
// }

// .interviewq-meeting-chatbox{
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     border: 1px solid green;
//     height: 600px;
//     width: 200px;
//     transform-origin: top right;
//     position: absolute;
//     top: 100px;
//     right: 0;
// }

// .interviewq-video-controls {
//     display: flex;
//     justify-content: space-around;
// }

// footer {
//     width: 100vw;
//     position: fixed;
//     bottom: 0;
//     height: 2%;
//     background: white;
// }

// .videoChat {
//     position: absolute;
//     bottom: 0;
// }

.interviewq-two-video-screens{
    // border: 1px solid red;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.interviewq-meeting-chatbox{
    overflow-y: scroll;
    
}

#theirVideoTag {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

#myVideoTag {
    width: 20%!important;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid blue;
    z-index: 10000;
}

#myMessage {
    border-radius: 0px;
    border-right: none;
    height: 10vh;
    width: 80%;
}

#sendMessage {
    border-radius: 0px;
    height: 10vh;
    width: 20%;
}



.interviewq-video-controls {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 5%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba($color: #000000, $alpha: .60);
}

.interviewq-video-controls button{
    color: white;
    font-size: 1.6rem;
}

.the-secret-is-cumin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 100vh!important;
    position: fixed;
    right: 0;
    top: 0;
    background: white;
}