.banner {
	background-color: #eaeaea;
	background-image: url('https://images.fineartamerica.com/images-medium-large-5/covey-of-quails-takes-flight-scott-lenhart.jpg');

	padding: 8rem 0;
}

.blinking-cursor {
	font-weight: 100;
	font-size: 36px;
	color: #2e3d48;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-moz-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-webkit-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-ms-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

@-o-keyframes blink {
	from,
	to {
		color: transparent;
	}
	50% {
		color: black;
	}
}

.start-btn {
	background-color: white;
	border: 1px solid silver;
	font-family: inherit;
	padding: 1.5rem 5%;
	border-radius: 0.3rem;
	cursor: pointer;
	margin-top: 2rem;

	&:hover {
		background-color: silver;
		color: white;
	}
}
