@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}


.App {
  text-align: center;
}

h1 {
  font-size: 2.8rem;
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.editform {
  display: flex;
  margin: 40px auto;
  justify-content: space-between;
  width: 300px;
  flex-direction: column;
}

.edit-button {
  background-color: none;
  border: none;
  font-size: 26px;
}

.cancel-button {
  color: red;
  font-size: 20px;
  font-weight: 900px;
  background-color: white;
  border: none;
}

.accept-button {
  color: green;
  font-size: 20px;
  font-weight: 900px;
  background-color: white;
  border: none;
}

input, option, select {
  border-radius: 0.3rem;
  border: 1px solid silver;
  font-family: inherit;
  padding: 0.8rem 1%;
  margin-bottom: 1rem;
}

.progressbar{
  width: 100%;
 counter-reset: step;
 margin-bottom: 100px;
 margin-top: 20px;
}

.progressbar li{
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
}

.progressbar li:before{
  content: counter(step);
  counter-increment: step;
 text-align: center;
 margin: 5px auto 5px auto;
 line-height: 20px;
  width: 20px;
  height: 20px;
  border: 3px solid gainsboro;
  display: block;
  margin: 0 auto 10 auto;
  border-radius: 50%;
  background-color: white;
}

.progressbar li:after{
  content: ' ';
  position: absolute;
  z-index: -1;
  height: 3px;
  width: 100%;
  background-color: gainsboro;
  top: 15px;
  left: -50%;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: purple;
}

.progressbar li.active:before {
  color: gainsboro;
  border-color: purple;
  background-color: purple;
}

.progressbar li.active + li:after {
  background-color: purple;
}


.form-btn{
  background-color: white;
  font-family: inherit;
  border: 1px solid silver;
  border-radius: 0.3rem;
  margin-top: 1rem;
  padding: 0.8rem 1.5%;
  cursor: pointer;
  margin: 2rem 4rem;
}


.submit-btn {
  background-color: white;
  font-family: inherit;
  border: 1px solid silver;
  border-radius: 0.3rem;
  margin-top: 1rem;
  padding: 0.8rem 1.5%;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: silver;
  color: white;
}

.manage-btn {
  background-color: white;
  font-family: inherit;
  border: 1px solid silver;
  border-radius: 1.6rem;
  margin-top: 1rem;
  padding: 0.8rem 1.5%;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 220px;
  outline: 0;
}

.manage-btn:hover {
  background-color: silver;
  color: white;
}

.signout-btn {
  background-color: white;
  font-family: inherit;
  border: 1px solid silver;
  border-radius: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem 1.5%;
  cursor: pointer;
}

.signout-btn:focus{
  outline: 0;
}

.signout-btn:hover {
  background-color: silver;
  color: white;
}

.danger {
  background-color: red;
  color: white;
  font-weight: 900;
  padding: 20px;
}

.input-label {
  display: flex;
  flex-direction: column;
}

.input-label label {
  text-align: left;
  margin-bottom: -14px;
}
.input-label p {
  align-self: flex-end;
  margin: 0 0;
}
.sign-in-button,
.input-label input {
  width: 100%;
}

.sign-in-button {
  margin: 0 0;
}

label {
  font-size: 1.4rem;
}

.sign-in-form {
  width: 400px;
  margin: 0 auto;
}

.sign-up-form {
  width: 400px;
  margin: 0 auto;
}

.two-inputs {
  display: flex;
  justify-content: space-between;
}

.two-inputs .input-label {
  width: 47%;
}

.sign-in-or {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.sign-in-or span {
  background: #fff;
  padding: 0 10px;
}

/* Spinning logo - Delete later */
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* End of spinning logo - delete later */

.bird {
  background-image: url("/avatar.png");
}

/* common styles for pirate and bird */
.bird {
  position: absolute;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
}

/* choreography 

0     1     2     3     4     5         6     7     8     9s
←---------  enter  --------⇥ ← pause ⇥ ←----- exit ---⇥

0 - 5s : enter animation
5 - 6s : pause
6 - 9s : exit animation

*/

.bird {
  /*         ↓ enter animation       ↓ exit animation   */
  animation: bird-enter 5s ease-out, bird-exit 3s ease-in;
  /* 0s delay for the entry animation, 6s for the exit  */
  animation-delay: 0s, 6s;
}
 
.bird {
  animation-fill-mode: forwards;
}

/* keyframe animations */

@keyframes bird-enter {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(50vw); /* half way */
  }
}

@keyframes bird-exit {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(-10vw); /* exit outside the frame */
  }
}
 
