.image-input {
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

.img-wrapper {
	display: flex;
}

.profile-img {
	border-radius: 50%;
	width: 6.1rem;
	height: 6.1rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-image {
	color: white;
	font-size: 1.2rem;
	font-weight: normal;
}

.edit-image {
	border-radius: 50%;
	width: 6.1rem;
	height: 6.1rem;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
	right: 6.1rem;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		cursor: pointer;
		opacity: 1;
		p {
			color: white;
			font-size: 1.2rem;
			font-weight: normal;
		}
	}
}
