@import '../../../globalStyles/variables';

.QNav {
	z-index: 900;
	position: fixed;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
	width: 100px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	a {
		text-decoration: none;
	}
}

.QNav-btn {
	font-size: 1.2rem;
	font-weight: bold;
	color: black;
	text-align: center;
}

.QNav-main {
	font-size: 1.2rem;
	font-weight: bold;
	color: $main-blue;
	text-align: center;
}
