.editform {

  .post-input.last {
    border-bottom: none;
  }
  .hidden {
    display: none;
  }
  .tag-form {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    max-width: 90%;
    
    .tag-input {
      margin-bottom: 1.0rem;
    }
  }
  
  .tags-container {
    width: 100%;
    > p {
      display: flex;
      flex-wrap: wrap;
    }
    .tag-button {
      background-color: lightgray;
      margin: 0.5% 0.5%;
      padding: 0% 0.5%;

      span {
        color: gray;
        &:hover {
          color: red;
        }
      }
    }
  }
}