.panel-wrapper {
	display: flex;
	flex-direction: column;
	text-align: left;

	h2 {
		font-size: 2.4rem;
		margin: 1.2rem 0;
	}

	p {
		font-size: 1.8rem;
		font-weight: bold;
	}
}

.panel {
	display: flex;
	justify-content: center;
	margin-bottom: 8rem;
}

.panel-even {
	flex-direction: row-reverse;
}

.panel-section {
	width: 300px;
	height: 200px;
	margin-left: 2%;
	margin-right: 2%;
}

.panel-text {
	padding-left: 2%;
	padding-right: 2%;
}

.panel-img {
	object-fit: cover;
}
