.slider{
    width:80%;
}

.button {
    border: 1px solid silver;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    height: 3.4rem;
    padding: 0 2rem;
    margin: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .add-coach-form-button {
        display: inline-block;
        margin-left: 1rem;
        width: 11rem;
    }

}



 .add-coach-form{
    position: absolute;
    // margin: 144px auto; //214px - 70px (for top navbar)
    width: 850px;
    // margin: 0 auto;
    // left: auto;
    // right: auto;
    // min-height: 80%;
    // height: 100vh;
    overflow: auto;

    left: 50%;
    transform: translate(-50%);
    // right: 50%;
    // top: 214px;
    padding-top: 120px;
    padding-left: 91px;
    padding-right: 91px;
    background: white;
    border-radius: 10px;
    text-align: left;
    input{
        width: 100%;
    }
    select{
        width: 100%;
    }
    z-index: 1000;
 }

 .close-coach-form-button{
     position: absolute;
     top: 40px;
     right: 30px;
     margin: 0 !important;
     padding: 0 !important;
     border: none !important;
     width: 24px !important;
     height: 24px !important;
     color: black;
     outline: none;
 }

 .add-coach-form-header{
    color: #096DD9;
    font-size: 3.0rem;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    margin-left: 10px;
 }

 .add-coach-form-row-1{
     display:flex;
 }

 .add-coach-form-row-2{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-top: 15px;
 }

 .add-coach-form-row-3{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #5F6368;
    margin-top: 72px;
 }

 .add-coach-form-row-4{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #3C4043;
    margin-top: 16px;
 }

 .add-coach-form-row-5{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #3C4043;
    margin-top: 3px;
 }