.prog-bar-center {
	width: 100%;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
  align-content: center;
  
}

.prog-bar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.prog-circle {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.prog-line {
	width: 50px;
	height: 0px;
  border: 1px solid gray;

  p {
		font-size: 1rem;
	}
}