@import '../../../globalStyles/variables';

.interview-landing-page {
	width: 80%;
	margin-left: 30rem;
	max-width: 1000px;

	@media screen and (min-width: 1600px) {
		margin: 0 auto;
	}

	@media screen and (max-width: 1330px) {
		width: 94%;
		margin: 0 auto;
	}
}

// .interview-cta {
// 	display: flex;
// 	width: 100%;
// 	justify-content: space-between;
// 	background-color: $main-blue;
// 	// border: 1px solid grey;
// 	padding: 1.8rem;

// 	.interview-cta-center {
// 		display: flex;
// 		width: 100%;
// 		justify-content: center;

// 		h4,
// 		a {
// 			font-size: 1.4rem;
// 			font-weight: normal;
// 			color: white;
// 		}
// 	}

// 	.interview-cta-x {
// 		color: white;
// 		cursor: pointer;
// 	}
// }

.interviewq-header-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 10rem 0 3rem;

	@media screen and (max-width: 1330px) {
		margin-top: 3rem;
	}
}

.interview-header {
	// width: 100%;
	// background-color: lightgray;
	text-align: left;
	// border: 1px solid lightgray;
	// padding: 2% 10%;
	display: flex;
	align-items: center;

	.red-circle {
		background-color: #cf1322;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 1.8rem;
	}

	h1 {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		// color: $main-blue;
	}
}

button {
	// padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	text-align: left;
}

.interviewq-header-btns {
	display: flex;
	justify-content: space-between;

	button {
		border: 1px solid silver;
		border-radius: 0.3rem;
		font-size: 1.4rem;
		height: 3.4rem;
		padding: 0 2rem;
		margin: 0.5rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-around;

		.becomecoach-btn {
			display: inline-block;
			margin-left: 1rem;
			width: 11rem;
		}

		.filters-btn {
			display: inline-block;
			margin-left: 1rem;
		}
	}
}
