// .date-picker { 
//   .selected {
//     color:gray;
//   }

//   .time-columns {
//     display: flex;
//     .time-column {
//       width: 15%;
//     }
//     .time {
//       background-color: lightgray;
//       width: 20%;
//       margin: 4% auto;
//       padding: 1%;
//       text-align:center;
//     }
//   }
// }