@import '../../../global/styles/variables';


	.QNav {
		z-index: 900;
	position: fixed;
	top: 20.5rem;
	left: 0;
	width: 22rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// border: 4px solid purple;
	
	a {
		text-decoration: none;
		margin-bottom: 1.8rem;
	}
	
	a:last-of-type {
		margin-bottom: 0rem;
	}
	
	@media screen and (max-width: 1230px) {
		position: static;
		flex-direction: row;
		justify-content: space-between;
		width: 95%;
		height: auto;
		// margin: 12rem 5% auto;
		margin-top: 20rem;
	}
	@media screen and (max-width: 700px) {
		justify-content: space-evenly;
		max-width: 100vw;
		margin: 12rem 8% auto;
		margin-top: 25rem;
		z-index: 0;
	}
	@media screen and (max-width: 740px) {
		margin-top: 23rem;
	}
}


.QNav-row {
	// border: 1px solid red;
	display: flex;
	width: 18.1rem;
	height: 4.5rem;
	padding-left: 2.4rem;
	align-items: center;
	font-style: normal;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2.2rem;
	text-align: center;
	// background-color: lightpink;
	// border: 4px solid purple;
	@media screen and (max-width: 1340px) {
		// width: 10rem;
	}
	@media screen and (max-width: 700px) {
		width: 9rem;
		align-items: center;
		justify-content: center;
		padding-left: 0;
	}
	@media screen and (max-width: 450px) {
		margin-left: 0;
		width: 15rem;
	}
}

.QNav-btn {
	color: $main-blue;
	margin-left: 1.6rem;
	@media screen and (max-width: 700px) {
		display: none;
	}

	@media screen and (max-width: 450px) {
		margin-left: 0.5rem;
	}
}

.QNav-main {
	color: $main-blue;
	margin-left: 1.6rem;
	
	@media screen and (max-width: 700px) {
		display: none;
	}
}

.QNav-row-highlight {
	margin: 0 0 1.8rem 0;
	height: 4.5rem;
	background: $main-blue;
	border-top-right-radius: 2.25rem;
	border-bottom-right-radius: 2.25rem;
	width: 18.1rem;
	@media screen and (max-width: 1230px) {
		border-top-left-radius: 2.25rem;
		border-bottom-left-radius: 2.25rem;
		border-top-right-radius: 2.25rem;
		border-bottom-right-radius: 2.25rem;
	}

	@media screen and (max-width: 700px) {
		display: none;
	}

	.QNav-btn {
		color: white;
	}
}

.schedule {
	// flex-grow: 2;
	max-width: 80%;
	margin: 0 auto;
	// background-color: red;
}

.dash-left-menu-btn {
	display: flex;
	width: 18.1rem;
	height: 4.5rem;
	padding-left: 2.4rem;
	align-items: center;
	font-style: normal;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2.2rem;
	text-align: center;
	color: $main-blue;
	cursor: pointer;

	@media screen and (max-width: 1340px) {
		flex-shrink: 1;
		padding: 1rem 0;
		justify-content: center;
	}
}

.dashnav-txt {
	margin-left: 1.6rem;

	@media screen and (max-width: 1340px) {
		margin-left: 0.5rem;
	}

	@media screen and (max-width: 700px) {
		display: none;
	}
}

.dashnavactive {
	margin-bottom: 1.8rem;
	height: 4.5rem;
	background: $main-blue;
	border-top-right-radius: 2.25rem;
	border-bottom-right-radius: 2.25rem;
	width: 18.1rem;

	@media screen and (max-width: 1269px) {
		border-top-left-radius: 2.25rem;
		border-bottom-left-radius: 2.25rem;
		border-top-right-radius: 2.25rem;
		border-bottom-right-radius: 2.25rem;
	}

	@media screen and (max-width: 700px) {
		display: none;
	}

	.dash-left-menu-btn {
		color: white;
	}
}