@import '../../../global/styles/variables';

.QNav {
	z-index: 900;
	position: fixed;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
	width: 22rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	a {
		text-decoration: none;
	}
	@media screen and (max-width: 1270px) {
		position: static;
		flex-direction: row;
		justify-content: space-around;
		width: auto;
		height: auto;
		margin-top: 150px;

	}
	@media screen and (max-width: 700px) {
		width: 94%;
		margin: 0 auto;
	}
}

.QNav-row {
	display: flex;
	width: 18.1rem;
	height: 4.5rem;
	margin: 0 0 3rem 0;
	padding-left: 2.3rem;
	align-items: center;
	font-style: normal;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2.2rem;
	text-align: center;
	@media screen and (max-width: 450px) {
		margin-left: 0;
		width: 15rem;
	}
}

.QNav-btn {
	color: $main-blue;
	margin-left: 1.6rem;
	@media screen and (max-width: 450px) {
		margin-left: 0.5rem;
	}
}

.QNav-main {
	color: $main-blue;
	margin-left: 1.6rem;
	@media screen and (max-width: 700px) {
		display: none;
	}
}

.QNav-row-highlight {
	margin: 0 0 3rem 0;
	height: 4.5rem;
	background: $main-blue;
	border-top-right-radius: 2.25rem;
	border-bottom-right-radius: 2.25rem;
	width: 18.1rem;
	@media screen and (max-width: 1269px){
		border-top-left-radius: 2.25rem;
		border-bottom-left-radius: 2.25rem;
		border-top-right-radius: 2.25rem;
		border-bottom-right-radius: 2.25rem;
	}
	@media screen and (max-width: 700px) {
		display: none;
	}

	.QNav-btn {
		color: white;
	}
}
