@import '../../../globalStyles/variables';

.styled-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	background-color: white;

	width: 100%;
	position: fixed;
	top: 0;
	z-index: 500;

	.nav-left {
		display: flex;
		padding-left: 1%;

		a {
			color: $main-blue;
			text-decoration: none;
			text-align: left;
		}

		// img {
		// 	 width: 5rem;
		// }
	}

	.nav-right {
		display: flex;
		justify-content: space-evenly;
		width: 280px;
		align-items: center;

		a {
			color: black;
			text-decoration: none;
			font-weight: bold;
			// width: 80px;
		}
	}
}

.dropdown-content {
	position: absolute;
	right: 20px;
	top: 70px;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	width: 300px;
	height: 360px;
	border-radius: 14px;
	border: 1px solid lightgray;
	hr {
		height: 1px;
		background-color: lightgrey;
		color: lightgray;
		border: none;
	}
}

.grid-icon {
	margin-right: 35px;
	cursor: pointer;
}

.dropdown-grid-content {
	padding: 30px;
	position: absolute;
	right: 20px;
	top: 70px;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	width: 280px;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	border-radius: 14px;
	border: 1px solid lightgray;
}

.dropdown-icons {
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	p {
		margin-top: -10px;
		margin-bottom: 20px;
	}
}

.dropdown-camera-icon {
	position: absolute;
	font-size: 15px;
	border: 1px solid grey;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background-color: white;
	right: 100px;
	top: 85px;
}
.grey-on-hover {
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		transition: opacity 0.3s;
		opacity: 0;
		z-index: 2;
	}

	&:hover:before {
		opacity: 1;
	}
}

.desc {
	text-align: center;
}
.dropdown-menu-links {
	font-size: 12px;
	font-weight: lighter !important;
}
.dropdown-menu-links-div {
	margin-top: 14px;
}

.dropdown-menu-name {
	margin: 15px 0 0 0;
}

.dropdown-menu-email {
	color: grey;
	margin-top: 0px;
}

.avatar-menu {
	border-radius: 100%;
	height: 50px;
	width: 50px;
	margin-right: 10px;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}

.avatar-submenu {
	margin-top: 20px;
	border-radius: 100%;
	height: 70px;
}

.dropdown-avatar-camera {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.hidden {
	display: none;
}

.img-wrapper-dropdown {
	margin-top: 10px;
}

.profile-img-dropdown {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Spinning logo - Delete later */
.rotate {
	animation: rotation 10s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
/* End of spinning logo - delete later */

.bird {
	background-image: url('/avatar.png');
}

/* common styles for pirate and bird */
.bird {
	position: absolute;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 100%;
}

.bird {
	/*         ↓ enter animation       ↓ exit animation   */
	animation: bird-enter 2s ease-out, bird-exit 1s ease-in;
	/* 0s delay for the entry animation, 6s for the exit  */
	animation-delay: 0s, 2.4s;
}

.bird {
	animation-fill-mode: forwards;
}

/* keyframe animations */
// Quailnana flies in
@keyframes bird-enter {
	from {
		transform: translateX(100vw);
	}
	to {
		transform: translateX(50vw); /* half way */
	}
}

@keyframes bird-exit {
	from {
		transform: translateX(50vw);
	}
	to {
		transform: translateX(-10vw); /* exit outside the frame */
	}
}

.image-input-dropdown {
	opacity: 0;
	position: absolute;
	pointer-events: none;
}

.test-css-grid {
	background-color: #fff;
	display: grid;
	grid-template-columns: 100px 100px;
	grid-row: auto auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	.box {
		border-radius: 10px;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 40px;
		font-family: sans-serif;
	}
}
