.seeker-panel-container{

.SeekerQNav-btn {

    padding: 10px;
    color: #FB2046;
    font-size: 2.4rem;

}

}

.resumeQ1{
    height: 20%;
    width: 20%;
    display: flex;
    margin: auto;
    // opacity: 0.9;
}
        
