.seeker-panel-list {
    display: flex;
    flex-wrap: wrap;
	width: 1080px;
	// flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2.4rem;
    .accepted-container {
        flex-wrap: wrap;
        // background-color: tan;
    }
    .denied-container {
        // background-color: wheat;
    }
}

