.seeker-panel-container{
    
.SeekerQNav-btn {

    padding: 10px;
    color: #FB2046;
    font-size: 2.4rem;

}
}


.resumeQ1{
    opacity: 0.8;
    
    img{
        margin-top: 15rem;
        height: 25rem;
        width: 25rem;
    }

}


        
