@import '../../../globalStyles/variables';

.sign-up,
.general-sign-up,
.getstarted,
.exp-sign-up,
.completed-sign-up {
	width: 92%;
	max-width: 500px;
	margin: 0 auto;
	border: 1px solid orange;
}

button.sign-up-button:disabled {
	cursor: not-allowed;
}

.sign-up-button {
	width: 100%;
}

.validation-error-message {
	color: red !important;
}

.getstarted {
	width: 100%;
	max-width: 44.8rem;
	height: 15rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.getstarted-txt {
		font-size: 2.4rem;
		line-height: 3.2rem;
	}

	.begin-btn {
		width: 14rem;
		height: 5.4rem;
		border-radius: 0.5rem;
		background-color: $main-blue;
		color: white;
		text-align: center;
		font-size: 2rem;
		line-height: 2.8rem;
		font-weight: medium;
		cursor: pointer;

		&:hover {
			background-color: $hover-blue;
		}
	}
}

.bio-text {
	height: 100px;
}

.email-address-taken {
	color: red;
}

.prog-bar {
	width: 92%;
	max-width: 83.8rem;
	height: 3.2rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.prog-circle {
		width: 3.2rem;
		height: 3.2rem;
		border-radius: 50%;
		border: 1px solid #bfbfbf;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6rem;
		color: #bfbfbf;
		margin: 0 0.3rem;
		flex-shrink: 0;
		// NEEDS SF PRO FONT
	}

	p {
		font-size: 1.6rem;
		color: #8c8c8c;
		margin: 0 0.3rem;
		// NEEDS SF PRO FONT
	}

	.prog-line {
		width: 23rem;
		border: 0.05rem solid #bfbfbf;
		margin: 0 0.3rem;
	}
}

// .progressbar {
// 	width: 100%;
// 	counter-reset: step;
// 	margin-bottom: 100px;
// 	margin-top: 20px;
// 	border: 1px solid white;
// }

// .progressbar li {
// 	list-style-type: none;
// 	float: left;
// 	width: 33.33%;
// 	position: relative;
// 	text-align: center;
// 	border: 1px solid green;
// }

// .progressbar li:before {
// 	content: counter(step);
// 	counter-increment: step;
// 	text-align: center;
// 	margin: 5px auto 5px auto;
// 	line-height: 20px;
// 	width: 20px;
// 	height: 20px;
// 	border: 3px solid gainsboro;
// 	display: block;
// 	margin: 0 auto 10 auto;
// 	border-radius: 50%;
// 	background-color: white;
// }

// .progressbar li:after {
// 	content: ' ';
// 	position: absolute;
// 	z-index: -1;
// 	height: 3px;
// 	width: 100%;
// 	background-color: gainsboro;
// 	top: 15px;
// 	left: -50%;
// }

// .progressbar li:first-child:after {
// 	content: none;
// }

// .progressbar li.active {
// 	color: purple;
// }

// .progressbar li.active:before {
// 	color: gainsboro;
// 	border-color: purple;
// 	background-color: purple;
// }

// .progressbar li.active + li:after {
// 	background-color: purple;
// }
