.sign-up {
	width: 400px;
	margin: 0 auto;
}

button.sign-up-button:disabled {
	cursor: not-allowed;
}

.sign-up-button {
	width: 100%;
}

.validation-error-message {
	color: red !important;
}

.getstarted {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 20vh;
	justify-content: space-between;

	h2 {
		margin-top: 2rem;
	}
}

// .progressbar {
// 	width: 100%;
// 	counter-reset: step;
// 	margin-bottom: 100px;
// 	margin-top: 20px;
// 	border: 1px solid white;
// }

// .progressbar li {
// 	list-style-type: none;
// 	float: left;
// 	width: 33.33%;
// 	position: relative;
// 	text-align: center;
// 	border: 1px solid green;
// }

// .progressbar li:before {
// 	content: counter(step);
// 	counter-increment: step;
// 	text-align: center;
// 	margin: 5px auto 5px auto;
// 	line-height: 20px;
// 	width: 20px;
// 	height: 20px;
// 	border: 3px solid gainsboro;
// 	display: block;
// 	margin: 0 auto 10 auto;
// 	border-radius: 50%;
// 	background-color: white;
// }

// .progressbar li:after {
// 	content: ' ';
// 	position: absolute;
// 	z-index: -1;
// 	height: 3px;
// 	width: 100%;
// 	background-color: gainsboro;
// 	top: 15px;
// 	left: -50%;
// }

// .progressbar li:first-child:after {
// 	content: none;
// }

// .progressbar li.active {
// 	color: purple;
// }

// .progressbar li.active:before {
// 	color: gainsboro;
// 	border-color: purple;
// 	background-color: purple;
// }

// .progressbar li.active + li:after {
// 	background-color: purple;
// }

.bio-text {
	height: 100px;
}

.email-address-taken {
	color: red;
}

.prog-bar-center {
	width: 200px;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.prog-bar {
	display: flex;
	justify-content: center;
	align-items: center;
}

.prog-circle {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid gray;
	display: flex;
	align-items: center;
	justify-content: center;
}

.prog-line {
	width: 50px;
	height: 0px;
	border: 1px solid gray;
}

.prog-text {
	display: flex;
	width: 100%;
	justify-content: space-between;

	p {
		font-size: 1rem;
	}
}
