.review-form {
  margin-top: 6%;  
  > * {
    width: 50%;
    margin: 2% auto;
    text-align: center;
    .button {
      width: 8%;
      margin: auto;
    }
  }
  .rating-container {
    display: flex;
    justify-content: center;
  }
  .error {
    border: 1px solid red;
  }
}