@import '../../../globalStyles/variables';

$width: 80%;

.review-page {
  margin: auto;
  text-align: left;
  width: $width;
  h2 {
    font-size: 24px;
    font-weight: normal;
  }
  hr {
    color: $input-border;
    margin: 1.0rem 0 3rem 0;
  }
}