.footer {
  margin-top: 10rem;
  p {
    font-size: 1.2rem;
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto 1rem;
}

.footer-line {
  width: 70px;
  margin-bottom: 2rem;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 0 auto 3rem;
}

.copyright {
  text-align: right;
  margin-right: 4%;
  margin-bottom: 5rem;
}
