// .entire-dashboard {
// }

.lower-dashboard {
	margin: 5rem auto 0;
	display: flex;
	@media screen and (min-width: 1100px) {
		width: 1100px;
	}
}

.dashboard-left-bar {
	// flex-grow: 1;
	// height: 40vh;
	padding: 5rem 0 0 6%;
	// padding-left: 6%;
	// padding-right: 2%;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	.hidden {
		display: none !important;
	}

	p {
		margin-bottom: 1rem;
	}

	.gray-square {
		display: inline-block;
		width: 15px;
		height: 15px;
		background-color: silver;
	}

	.profile-dropdown-links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 2rem;
		padding-top: 2rem;

		a {
			color: gray;
		}
	}

	p:hover {
		cursor: pointer;
	}

	a {
		color: black;
		text-decoration: none;
		margin-bottom: 3rem;
	}
}

.dashboard-routes {
	flex-grow: 2;
}

.dashboard-top-links {
	border-bottom: 2px solid silver;
	width: 500px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;

	a {
		color: black;
		font-weight: bold;
		text-decoration: none;
	}
}
