.carousel {
  display: flex;
  justify-content: space-around;
  width: 920px;
  margin: 0 auto 10rem;
}

.scroll-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 3rem;
  &:hover {
    color: gray;
  }
}

.container {
  display: flex;
  overflow: hidden;
  width: 90%;
  height: 390px;
  margin: 0 auto;
  align-items: center;
}

.content {
  display: flex;
  position: relative;
  transition: transform 700ms ease 100ms;
}

.feature-card {
  box-shadow: 1px 1px 2px 2px silver;
  margin: 0 1%;
}

.feature-img {
  width: 250px;
  height: 180px;
  object-fit: cover;
}

.feature-txt {
  height: 180px;
  text-align: left;
  padding-left: 7%;
  padding-right: 7%;

  p {
    font-size: 1.2rem;
  }

  a {
    color: black;
    text-decoration: none;
  }
}
