@import '../../../../../../global/styles/variables';

.coach-card {
	display: flex;
	width: 31.3rem;
	height: 42.1rem;
	padding: 3.2rem 2.4rem;
	// box-shadow: 2px 2px 5px gray;
	border: 1px solid silver;
	border-radius: 1rem;
	margin-bottom: 1.3rem;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	.coachcard-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.coachcard-header-txt {
			text-align: left;
			h3 {
				font-size: 2rem;
				font-weight: 600;
				font-style: normal;
				line-height: 2.8rem;
				color: #262626;
				max-width: 17rem;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.coach-price {
				font-size: 1.6rem;
				font-weight: normal;
				line-height: 2.4rem;
				color: $price;
				max-width: 17rem;
				overflow: hidden;
				text-overflow: ellipsis;
      }
		}
		.coach-photo {
			width: 8.3rem;
			height: 8.3rem;
			border-radius: 50%;
			overflow: hidden;
		}
	}
	.coachcard-info {
		// margin-top: 1.2rem;
		p {
			font-style: normal;
			font-weight: normal;
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #595959;
			max-width: 26.3rem;
			text-overflow: ellipsis;
			overflow: hidden;
			display: flex;
			align-items: center;
			// margin: 0.2rem 0;
			.coachcard-icon {
				display: inline-block;
				width: 1.8em;
        // margin-top: 0.2rem;
      }
      .text {
        width: 90%;
      }
    }

		.coachcard-posloc {
			display: inline-block;
			max-width: 20rem;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	.coachcard-description {
		// margin-top: 0.4rem;
		p {
			font-style: normal;
			font-weight: normal;
			font-size: 1.6rem;
			line-height: 2.4rem;
			overflow: hidden;
			color: #3c4043;
		}
		.see-more {
			color: blue;
		}
		.p-ellipsis {
			font-style: normal;
			font-weight: normal;
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #3c4043;
			overflow: hidden;
			text-overflow: ellipsis;
			min-height: 8rem;
			span {
				display: inline;
				.coach-card-modal-text {
					display: inline;
					> * {
						display: inline;
					}
				}
			}
		}
		.coachcard-seemore {
			color: #096dd9;
			cursor: pointer;
		}
	}
	.coachcard-footer {
		display: flex;
		justify-content: space-between;
		// align-items: flex-start;
		align-items: center;
		// margin-top: 2rem;
		.coachcard-links {
			width: 6.2rem;
			display: flex;
			justify-content: space-between;
		}
		.interview-button {
			display: flex;
			border-radius: 0.5rem;
			font-size: 1.4rem;
			font-style: normal;
			justify-content: center;
			align-items: center;
			font-weight: 500;
			line-height: 2.2rem;
			background-color: $main-blue;
			text-align: center;
			color: white;
			align-items: center;
			width: 13.23rem;
			height: 4.2rem;
			padding: 0;
			a {
				text-decoration: none;
				color: #ffffff;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 22px;
			}
			// overflow: hidden;
			// white-space: nowrap;
		}
	}
}

.interview-button-hidden {
	display: none;
}

.blank-image {
  background-color: $gray-avatar;
  align-items: center;
}