.sign-up {
	width: 400px;
	margin: 0 auto;
}

button.sign-up-button:disabled {
	cursor: not-allowed;
}

.sign-up-button {
	width: 100%;
}

.validation-error-message {
	color: red !important;
}

.bio-text{
	height: 100px;
}
