.sign-up {
	width: 400px;
	margin: 0 auto;
}

button.sign-up-button:disabled {
	cursor: not-allowed;
}

.sign-up-button {
	width: 100%;
}

.validation-error-message {
	color: red !important;
}

.progressbar {
	width: 100%;
	counter-reset: step;
	margin-bottom: 100px;
	margin-top: 20px;
}

.progressbar li {
	list-style-type: none;
	float: left;
	width: 33.33%;
	position: relative;
	text-align: center;
}

.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	text-align: center;
	margin: 5px auto 5px auto;
	line-height: 20px;
	width: 20px;
	height: 20px;
	border: 3px solid gainsboro;
	display: block;
	margin: 0 auto 10 auto;
	border-radius: 50%;
	background-color: white;
}

.progressbar li:after {
	content: ' ';
	position: absolute;
	z-index: -1;
	height: 3px;
	width: 100%;
	background-color: gainsboro;
	top: 15px;
	left: -50%;
}

.progressbar li:first-child:after {
	content: none;
}

.progressbar li.active {
	color: purple;
}

.progressbar li.active:before {
	color: gainsboro;
	border-color: purple;
	background-color: purple;
}

.progressbar li.active + li:after {
	background-color: purple;
}
