.dash-payment {
	width: 100%;
	text-align: left;

	.dash-payment-header {
		h2 {
			font-style: normal;
			font-weight: 600;
			font-size: 2.4rem;
			line-height: 3.2rem;
			color: #202124;
		}

		width: 100%;
		margin-top: 3.2rem;
		padding-bottom: 1.6rem;
		border-bottom: 1px solid #dadce0;
	}
}
