.history-wrapper {
	// border: 1px solid#dadce0;
	border-radius: 0.8rem;
	width: 90%;
	max-width: 94.4rem;
	margin: 10rem auto;
	padding: 4.8rem 10.1rem;

	h2 {
		text-align: left;
		font-style: normal;
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 3.2rem;
		color: #202124;
		padding-bottom: 1.6rem;
		border-bottom: 1px solid #dadce0;
	}
}

.coach-history-headings,
.seeker-history-headings {
	display: flex;
	width: 100%;
	background-color: silver;

	h4 {
		width: 16.5%;
	}
}

.coach-history-row,
.seeker-history-row {
	display: flex;
	width: 100%;

	div {
		width: 16.5%;
		border: 1px solid silver;
	}
}

.history-content-toggle {
	color: blue;
}
