button.sign-in-button:disabled{
    cursor: not-allowed;
}


button.forgotPass{
  
    width: 448px;
    height: 39px;
    left: 496px;
    top: 670px;
    background: #262626;
    border-radius: 5px;
    color: white;
}

.forgotpass-Sub{
    margin-left: 33%;
    margin-left: 33%;
    width: 448px;
    height: 64px;
    left: 496px;
    top: 558px;


}