@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.App {
  text-align: center;
}

h1 {
  font-size: 2.8rem;
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
}

.editform {
  display: flex;
  margin: 40px auto;
  justify-content: space-between;
  width: 200px;
}

.cancel-button {
  color: red;
}

.accept-button {
  color: green;
}

input {
  border-radius: 0.3rem;
  border: 1px solid silver;
  font-family: inherit;
  padding: 0.8rem 1%;
  margin-bottom: 1rem;
}

.submit-btn {
  background-color: white;
  font-family: inherit;
  border: 1px solid silver;
  border-radius: 0.3rem;
  margin-top: 1rem;
  padding: 0.8rem 1.5%;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: silver;
  color: white;
}
