// @import './App.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100%;
	// border: 1px solid grey;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

.App {
	text-align: center;
}

.not-nav {
	margin-top: 70px;
}

h1 {
	font-size: 2.8rem;
}

p {
	font-size: 1.5rem;
}

a {
	font-size: 1.5rem;
}

input,
option,
select,
textarea {
	border-radius: 0.3rem;
	border: 1px solid silver;
	font-family: inherit;
	padding: 0.8rem 1%;
	// margin-bottom: 1rem;
}

.form-btn {
	background-color: white;
	font-family: inherit;
	border: 1px solid silver;
	border-radius: 0.3rem;
	margin-top: 1rem;
	padding: 0.8rem 1.5%;
	cursor: pointer;
	margin: 2rem 4rem;
}

.form-btn:disabled {
	background-color: white;
	font-family: inherit;
	color: gray;
	border: 1px solid silver;
	border-radius: 0.3rem;
	margin-top: 1rem;
	padding: 0.8rem 1.5%;
	cursor: not-allowed;
	margin: 2rem 4rem;
}

.submit-btn {
	background-color: white;
	font-family: inherit;
	border: 1px solid silver;
	border-radius: 0.3rem;
	margin-top: 1rem;
	padding: 0.8rem 1.5%;
	cursor: pointer;
}

.submit-btn:hover {
	background-color: silver;
	color: white;
}

.manage-btn {
	background-color: white;
	font-family: inherit;
	border: 1px solid silver;
	border-radius: 1.6rem;
	margin-top: 1rem;
	padding: 0.8rem 1.5%;
	cursor: pointer;
	margin-bottom: 1rem;
	width: 220px;
	outline: 0;
}

.manage-btn:hover {
	background-color: silver;
	color: white;
}

.signout-btn {
	background-color: white;
	font-family: inherit;
	border: 1px solid silver;
	border-radius: 0.3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0.8rem 1.5%;
	cursor: pointer;
}

.signout-btn:focus {
	outline: 0;
}

.signout-btn:hover {
	background-color: silver;
	color: white;
}

.danger {
	background-color: red;
	color: white;
	font-weight: 900;
	padding: 20px;
}

.input-label {
	display: flex;
	flex-direction: column;
}

.input-label label {
	text-align: left;
	margin-bottom: -14px;
}

.input-label p {
	align-self: flex-end;
	margin: 0 0;
}

.sign-in-button,
.input-label input {
	width: 100%;
}

label {
	font-size: 1.4rem;
}

.sign-up-form {
	width: 400px;
	margin: 0 auto;
}

.two-inputs {
	display: flex;
	justify-content: space-between;
}

.two-inputs .input-label {
	width: 47%;
}

.sign-in-or {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #000;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.sign-in-or span {
	background: #fff;
	padding: 0 10px;
}

@keyframes birdwalk {
	from {
		margin-left: -40%;
	}
	to {
		margin-left: 70%;
	}
}

.quail-walk {
	animation: birdwalk 5s infinite;
	width: 100px;
}
