

.reviewer-jobs-list {
    // background-color: lightblue;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    min-width: 50px;
    margin:0 5% 0 15%;
    justify-content: flex-start;
}
    .reviewer-jobs-card {
        display: flex;
        width: 35.2rem;
        height: 25.2rem;
        padding: 2.4rem;
        border: 1px solid #dadce0;
        border-radius: 0.8rem;
        margin-bottom: 1.2rem;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
    }
