@import '../../../globalStyles/variables';

.coach-card {
	display: flex;
	width: 31.3rem;
	height: 42.1rem;
	padding: 3rem;
	// box-shadow: 2px 2px 5px gray;
	border: 1px solid silver;
	border-radius: 1rem;
	margin-bottom: 1.3rem;
	flex-direction: column;
	justify-content: space-between;

	text-align: left;

	.coachcard-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.coachcard-header-txt {
			text-align: left;

			h3 {
				font-size: 2rem;
				font-weight: 600;
				font-style: normal;
				line-height: 2.8rem;
				color: #262626;
			}

			h4 {
				font-size: 1.6rem;
				font-weight: normal;
				line-height: 2.4rem;
			}
		}

		.coach-photo {
			width: 8.3rem;
			height: 8.3rem;
			border-radius: 50%;
			overflow: hidden;
		
		}
	}


	.coachcard-info {
		p {
			display: flex;
			align-items: center;
			font-style: normal;
			font-weight: normal;
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #595959;

			.coachcard-icon {
				width: 2.8rem;
				display: inline-block;
			}
		}
	}

	.coachcard-description {
		p {
			font-style: normal;
			font-weight: normal;
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #3c4043;
			white-space: nowrap; 
			width: 150px; 
			overflow: hidden;
			text-overflow: ellipsis; 
		}
		.coachcard-seemore {
			color: #096DD9;
		}
	}

	.coachcard-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.coachcard-links {
			width: 6.2rem;
			display: flex;
			justify-content: space-between;
		}

		.interview-button {
      		display:flex;
			border-radius: 0.5rem;
			font-size: 1.2rem;
			font-family: 'Arial';
			font-style: normal;
			justify-content: center;
			// font-weight: 600;
			line-height: 2.2rem;
			background-color: $main-blue;
			text-align: center;
			color: white;
			align-items:center;
			width: 13.23rem;
			height: 4.2rem;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}