@import '../../../globalStyles/variables';

.coach-card {
	display: flex;
	width: 31.3rem;
	height: 42.1rem;
	padding: 0.9rem 3rem 3rem 3rem;
	// box-shadow: 2px 2px 5px gray;
	border: 1px solid silver;
	border-radius: 1rem;
	margin-bottom: 1.3rem;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
	.coachcard-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.coachcard-header-txt {
			text-align: left;

			h3 {
				font-size: 2rem;
				font-weight: 600;
				font-style: normal;
				line-height: 2.8rem;
				color: #262626;
			}

			h4 {
				font-size: 1.6rem;
				font-weight: normal;
				line-height: 2.4rem;
				color: #096DD9;
			}
		}

		.coach-photo {
			width: 8.3rem;
			height: 8.3rem;
			border-radius: 50%;
			overflow: hidden;
		
		}
	}


	.coachcard-info {
    margin-top: 1.2rem;
		p {
			font-style: normal;
			font-weight: normal;
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #595959;

      margin: 0.2rem 0;
			.coachcard-icon {
        display: inline-block;
        width: 1.8em;
        margin-top: 0.2rem;
			}
    }

    .location {

    }

    .star {

    }
	}

	.coachcard-description {
    margin-top: 0.4rem;
		p {
			font-style: normal;
			font-weight: normal;
			font-size: 1.6rem;
      line-height: 2.4rem;
      overflow: hidden;
      height: 12.5rem;
      color: #3c4043;
    }
    .see-more {
      color:blue;
    }
		.p-ellipsis {
			font-style: normal;
			font-weight: normal;
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #3c4043;
			overflow: hidden;
      text-overflow: ellipsis;
      span {
        display: inline;
        .coach-card-modal-text {
          display: inline;
          > * {
            display: inline;
          }
        }
      }
		}
		.coachcard-seemore {
			color: #096DD9;
		}
	}

	.coachcard-footer {
		display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2.0rem;
		.coachcard-links {
			width: 6.2rem;
			display: flex;
			justify-content: space-between;
		}

		.interview-button {
      		display:flex;
			border-radius: 0.5rem;
      font-size: 1.2rem;
      font-style: normal;
      justify-content: center;
			// font-weight: 600;
			line-height: 2.2rem;
			background-color: $main-blue;
			text-align: center;
			color: white;
			align-items:center;
			width: 13.23rem;
			height: 4.2rem;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}