.editform {
	display: flex;
	margin: 40px auto;
	justify-content: space-between;
	width: 100%;
	flex-direction: column;
	border: 1px solid #dadce0;
	border-radius: 0.8rem;
	padding: 2.4rem 0;

	h2 {
		font-style: normal;
		// SF Pro Display
		font-weight: 600;
		font-size: 2rem;
		line-height: 2.8rem;
		text-align: left;
		color: #202124;
		margin-left: 3.2rem;
		margin-bottom: 6rem;
	}

	h3 {
		// SF Pro Display
		font-style: normal;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 2rem;
		color: #5f6368;
		text-transform: uppercase;
	}
}

.dash-input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	border-bottom: 1px solid #dadce0;
	padding: 1.7rem 3.2rem;

	@media screen and (max-width: 380px) {
		flex-direction: column;
		height: 8rem;
		margin-bottom: 1rem;
		align-items: flex-start;
	}
}

.dash-input:last-of-type {
	border-bottom: none;
}

.dash-row {
	display: flex;
	align-items: center;
	height: 5rem;
}

.dash-heading {
	width: 15.6rem;
	text-align: left;
}

.edit-button {
	background-color: white;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 2.2rem;
	color: #5f6368;
	cursor: pointer;
}

.update-btns {
	display: flex;
	flex-direction: row-reverse;

	@media screen and (max-width: 380px) {
		align-self: center;
	}
}

.cancel-button {
	background-color: white;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 2.2rem;
	color: #5f6368;
	cursor: pointer;
}

.accept-button {
	background-color: white;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 2.2rem;
	color: #5f6368;
	cursor: pointer;
	margin-right: 2rem;
}
