.editform {
  display: flex;
  margin: 40px auto;
  justify-content: space-between;
  width: 500px;
  flex-direction: column;
}

.dash-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.dash-row {
  display: flex;
  align-items: center;
  height: 5rem;
}

.dash-heading {
  width: 100px;
  text-align: left;
}

.edit-button {
  background-color: white;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.update-btns {
  display: flex;
  margin-left: 6%;
  flex-direction: row-reverse;
}

.cancel-button {
  // color: red;
  font-size: 1.2rem;
  font-weight: 900px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.accept-button {
  // color: green;
  font-size: 1.2rem;
  font-weight: 900px;
  background-color: white;
  border: none;
  cursor: pointer;
}
